<!-- The landing page begins here -->
<div class="land-page">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="lhead text-center">Putting you on the road to reliability..</h1>
                <!-- <h3 class="lhhead2">Restoring the rhythm of your life.</h3> -->
  
                <h1 class="lhead1 text-center">Why choose us?</h1>
                <ul class="fet-p">
                    <li>10 Years of Experience </li>
                    <li>10+ Completed Projects</li>
                    <li>50+ Ongoing projects</li>
                    <li>10 Years Warranty*</li>
                    <li>No hidden cost</li>
                    <li>One stop solution</li>
                    <li>Prompt after sales support</li>
                </ul>
            </div>
            <!-- <div col-6>
                <iframe width="100" height="75"
                src="https://youtu.be/MZtzpEG7etg">
                </iframe>
            </div>   -->
            <!-- <div class="col-4 "> -->
                <div class="well well-sm col-4 cont">
                      <form class="form-horizontal well" action="" method="post">
                      <fieldset>
                        <legend class="text-center" style="color: blue ;">Looking for our service?</legend>
                        <legend >Please leave your details here!</legend>
                
                        <!-- Name input-->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="name">Name</label>
                          <div class="col-md-9">
                            <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
                          </div>
                        </div>
                
                        <!-- Email input-->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="email">Your E-mail</label>
                          <div class="col-md-9">
                            <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                          </div>
                        </div>
                        <!-- Phone input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="phone">Your phone</label>
                            <div class="col-md-9">
                              <input id="phone" name="phone" type="number" placeholder="Your mobile number" class="form-control">
                            </div>
                          </div>
                
                        <!-- Message body -->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="message">Your message</label>
                          <div class="col-md-9">
                            <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                          </div>
                        </div><br>
                           <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                        </div>
                        </fieldset>
                    </form>
                </div>
            </div>
  
            </div>
        </div>
    
  
  <!-- </div> -->
  <!-- The landing page ends here -->
