<!-- The services page starts here -->
<div class="container">
    <h1>Our services</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quo quis laudantium, doloremque tempore consectetur aperiam obcaecati nisi minima quaerat sunt quas officiis assumenda dolores voluptatem dignissimos deserunt veniam voluptas.</p>
  </div>
  <!-- The services page ends here -->

  <div class="container">
  <div class="row">
    <div data-aos="flip-left" class="col-6">
      <div class="card mb-3" style="width: 35rem; height: 30rem;">
        <img src="https://bizimages.withfloats.com/actual/5a0138fbe5008e0b3c2fc09b.jpg" class="card-img-top" alt="Wild Landscape"/>
        <div class="card-body">
          <h5 class="card-title">Motor cycle stickering works</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
    <div data-aos="flip-right" class="col-6">
      <div class="card mb-3" style="width: 35rem; height:30rem;">
        <img src="https://thedrive.com/content-b/message-editor%2F1597947747152-rear-motorcycle-chain.jpg" class="card-img-top" alt="Wild Landscape"/>
        <div class="card-body">
          <h5 class="card-title">Motorcycle wash and chain maintenance</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div data-aos="flip-left" class="col-6">
      <div class="card mb-3" style="width: 35rem; height: 30rem;">
        <img src="https://i.ytimg.com/vi/TOZ6yt3gxeE/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLC47iJ_AzQEr8RsUQ7d3XeFhr6TRg" class="card-img-top" alt="Wild Landscape"/>
        <div class="card-body">
          <h5 class="card-title">Premium quality teflon coating</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
    <div data-aos="flip-right" class="col-6">
      <div class="card mb-3" style="width: 35rem; height:30rem;">
        <img src="https://i.ytimg.com/vi/4ZXFySG7Iv4/maxresdefault.jpg" class="card-img-top" alt="Wild Landscape"/>
        <div class="card-body">
          <h5 class="card-title">CI bullet repair and maintenance</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div> 
    
  <div class="row">
    <div data-aos="flip-left" class="col-6">
      <div class="card mb-3" style="width: 35rem; height: 30rem;">
        <img src="https://www.harley-davidson.com/content/dam/h-d/images/content-images/media-card/2022/adventure-touring-rider-course-media-card.jpg?impolicy=myresize&rw=800" class="card-img-top" alt="Wild Landscape"/>
        <div class="card-body">
          <h5 class="card-title">Adventure Motorcycle training course</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
    <div data-aos="flip-right" class="col-6">
      <div class="card mb-3" style="width: 35rem; height:30rem;">
        <img src="https://media.richmondhondahouse.com/wp-content/uploads/2020/02/22143644/beginner-bikes-2.jpg" class="card-img-top" alt="Wild Landscape"/>
        <div class="card-body">
          <h5 class="card-title">Basic motorcycle training for women</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>  
</div>